.sort-container {
    display: inline-flex;
    flex-wrap: wrap;
}
.sort-container > div {
    margin: 6px;
}

#sort-label {
    position: absolute;
    width: 100%;
    left: 55%;
    top: 31%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}
#direction-label {
    position: absolute;
    width: 100%;
    left: 75%;
    top: 31%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}

#sort-select {
    box-sizing: border-box;
    position: absolute;
    width: 14%;
    height: 42px;
    left: 60%;
    top: 31%;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
#direction-select {
    box-sizing: border-box;
    position: absolute;
    width: 14%;
    height:42px;
    left: 80%;
    top: 31%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
